.board {
    width: 1000px;
    margin: auto;
    text-align: center;
}
.board h1 {
    margin-bottom: 100px;
}

#list_table {
    border-top: 1px solid #444444;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    width: 950px;
}


#list_table tr,td{
    border-bottom: 1px solid #444444;
    padding: 10px;
}
#list_table th {
    height: 40px;
    font-size: 15px;
}

#btn_login {
	margin-top: 20px;
}

#pagination a {
    display:inline-block;
    margin-right:5px;
    cursor:pointer;
    }
    
    
    