
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(231, 245, 240);
}

#login_form {
    background-color: white;
    height: 854px;
    width: 700px;
    margin: auto;
}

#logo {
    margin-bottom: 100px;
    height: 200px;
    width: 200px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content input {
    font-weight: bold;
    font-size: 20px;
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
}

.sub_btn a {
    text-decoration: none;
}