.form_wrap {
    margin: auto;
    width: 500px;

}

.write_form h1 {

    text-align: center;
}

.write_form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.write_form input,textarea {
    font-weight: bold;
    font-size: 20px;
    border: none;
    resize: none;
}


input,textarea:focus {outline:none;}
