
body{
    font-family: 'Sunflower', sans-serif;
    background-color: rgb(63, 63, 63);
}
.context {
    border-radius: 10px; 
    margin : auto;
    height: 800px;
    width: 500px;
}

.head {
    color: #f4f9f9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #a4ebf3;
    text-align: center;
    width: 100%;
    height: 120px;

}


.insert{
    width: 480px;
    margin-bottom: 10px;
    justify-content: center;
    margin-top: auto;
    display: flex;
}

.insert i{
    color: white;
    background-color: #a4ebf3;
    width: 30px;
    height: 30px;
    font-size: 30px;
    
}
.insert input{
    width: 280px;
}
.do_list{

    overflow :auto;
    background-color: #f4f9f9;
    width: 100%;
    height: 650px;
    color: #f4f9f9;
    display: flex;
    flex-direction: column;
}

.memo{
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f4f9f9;
    justify-content: space-around; 
    margin: 10px 10px 5px 5px ;
    display: flex;
    height: 39px;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(173, 173, 173);
}

.memo div{
    color: black;
    margin-top: 5px;
    font-weight: bold;
    font-family: 'Sunflower', sans-serif;
    width: 400px;
    resize: none;
    border :none;
    background-color: #f4f9f9;
    font-size: 20px;
    height: 30px;
  
}

#checkbox{
    height: 15px;
    zoom: 1.5;
}
.remove{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px;
    height: 50px;
    background-color: #a4ebf3;
    display: flex;
    justify-content: space-evenly;
}

.remove button{
   border-radius: 15px;
   font-family: 'Sunflower', sans-serif;
   font-weight: bold;
 
}

