
body{
    background-color: rgb(63, 63, 63);
}
.context {
    border-radius: 10px; 
    border:2px solid springgreen;
    margin : auto;
    height: 640px;
    width: 500px;
}

.head {
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: thistle;
    text-align: center;
    width: 100%;
    height: 150px;

}


.insert{
    width: 480px;
    padding: 10px;
    justify-content: space-between;
    margin-top: auto;
    display: flex;
    border-top: 2px solid white;
}
.insert input{
    width: 280px;
}
.do_list{
    overflow:scroll;
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
}

.memo{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid violet;
    justify-content: space-around; 
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
}

.memo textarea{
    text-align: center;
    font-size: 30px;
}

.remove{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

