<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/update.css">
        <title>글쓰기</title>
    </head>
    <body>
        <form action='/updateAf' method='post'>
            <div class="content">
                <h2>게시글 작성</h2>
            
                    <div class="input_type">  
                        <label id="label_title"> 제목</label>
                        <input  name = "title" type="text" value="<%=list[0].title%>"> 
                    </div>

                    <div class="input_type">  
                        <label>닉네임</label>
                        <input readonly name = "name" value="<%=list[0].name%>" type="text"> 
                    </div>

                    <div class="input_type">  
                        <label >내용</label>
                        <textarea  name="context" id="" cols="70" rows="20"><%=list[0].context%></textarea>
                    
                    </div>

                    <button name="number" value="<%=list[0].number%>" id='btn_submit' type='submit'>수정하기</button>
            </div>
        </form>
        
      <script src="/js/update.js"></script>
    </body>
</html>