<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/write.css">
        <title>글쓰기</title>
    </head>
    <body>
        <form name ='write_form' action='/writeAf' method='post'>
            <div class="content">
                <h2>게시글 작성</h2>
            
                    <div class="input_type">  
                        <label id="label_title"> 제목</label>
                        <input id="input_title" name = "title" type="text"> 
                    </div>

                    <div class="input_type">  
                        <label> 작성자</label>
                        <input id="input_writer"  name = "writer" type="text"> 
                    </div>

                    <div class="input_type">  
                        <label> 내용</label>
                        <textarea id="input_text" style="font-size: 15px;" name="context" id="" cols="70" rows="20"></textarea>
                    
                    </div>

                    <div class="input_type">  
                        <label  > 비밀번호</label>
                        <input  id ="input_password" name = "password" type="password"> 
                    </div>

                    <p style="font-size: 10px;">나쁜말 작성 시 사전동의 없이 삭제 될 수 있습니다.</p>
                    <p style="font-size: 10px;">비밀번호 분실 시에는 전화주세욧!.</p>
                
                
                    <button type="button" id='btn_submit'>글쓰기</button>
            </div>
        </form>
        
      <script src="/js/write.js"></script>
    </body>
</html>