
a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    background-color: #1d2123;
    color: white;
    font-family: 'Sunflower', sans-serif;
}

.head{
    height: 750px;
    background-image: url(img/123.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 200px;
}


 /* 상단부 부분 */
.navbar {
    z-index: 1;
    margin: 0;
    width: 100%;
    position : fixed;
    height: 100px;
    top: 0;
    opacity: 0.8;
    display: flex;
    /* 아이템들 수평으로 정렬 */
    justify-content: space-between; 
    /* 중간중간 일정한 공간넣기 */
    align-items:  center;
    /* 수직적으로 센터에 아이템 배치하기 */
    background-color: #b6b6b6;
    padding: 8px 12px;
    border-bottom: 1px solid gray;
    /* 위아래로 8px 양 옆으로 12px */
}

.navbar_toogleBtn{
    display: none;
}


.navbar_logo{
    width: 100px; 
    height: 100px; 
    padding: 8px 12px;
}

.navbar_menu{
    
    display:flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {

    padding: 8px 12px;
    border-bottom: 3px solid white;
    margin-right: 50px;
}

.navbar_menu li:hover{
    background-color: violet;

}

.navbar_call {
    margin-right: 20px;
    list-style: none;
    color: white;
}


.navbar_call li{
    padding: 8px 12px;
}

 /* 공덕 닭발왕 메뉴 라벨 */
.la{
    font-size: 35px;
    color: white;
    width: 300px;
    margin-top: 300px;
    padding: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 150px;
}

/* 메뉴뷰 부분 */

.context {
    
    
    padding: 10px;    
    border-radius: 7px;      
  }

/* 탭 구현부분 */
section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;}

input {
      display: none;}

label {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 600;
    color: #bbb;
    border: 1px solid transparent;}

label:hover {
    color: #2e9cdf;
    cursor: pointer;}

/*input 클릭시, label 스타일*/
input:checked + label {
      color: #2e9cdf;
      border: 1px solid #ddd;
      border-top: 2px solid #2e9cdf;
      border-bottom: 1px solid #ffffff;}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2
 {
    display: block;}




.mainMenu{
    border-top: 1px solid white;
    width: 1300px;
    height: 1000px;
    /* display: flex; */
    /* flex-direction: column; */
}

.mainDiv{

    display: flex;
    justify-content : space-evenly;
}

.subMenu{
    border-top: 1px solid white;
    width: 1300px;
    height: 1000px;
    /* display: flex; */
    /* flex-direction: column; */
}

.mainMenuContext{
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
    
}

.mainMenuContext :hover{
    background-color: violet;
}

.menu_img{
   
    width: 350px; 
    height: 300px; 
    
}

p{
    font-size: 30px;
}




/* 모달창 */

.hover_effect_box {
    width: 352px;
    height: 400px;
    margin-bottom: 50px;
    border: 1px solid black;
    margin-top: 70px;
    display: flex;
    /* flex-direction: column; */
    border: 1px solid black;
    overflow: hidden;
    position: relative;
    text-align: center;
    /* -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6; */
    /* cursor: default; */
    background-color: #1d2123;
    /* box-sizing: initial; */
 }
 .hover_effect_box * {
    box-sizing: initial;
 }

 .hover_effect_box .caption
 , .hover_effect_box .mask  {
    width: 352px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
 }
 .hover_effect_box .content_bg {
    display: block;
    position: relative;
 }
 .hover_effect_box .caption_title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
 }
 .hover_effect_box .caption_desc {
    font-size: 0.9em;
    line-height: 1.5;
    position: relative;
    color: #fff;
    padding: 30px 20px 40px;
    text-align: center;
 }
 
.hover_effect_6 .caption {
    background-color: rgba(119, 0, 36, 0.5);
    top: -200px;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
 }
 .hover_effect_6 .caption_title {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.1s;
    -moz-transition: all 0.2s ease-in-out 0.1s;
    -o-transition: all 0.2s ease-in-out 0.1s;
    -ms-transition: all 0.2s ease-in-out 0.1s;
    transition: all 0.2s ease-in-out 0.1s;
 }
 .hover_effect_6 .caption_desc {
    color: #fff;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -o-transition: all 0.2s ease-in-out 0.2s;
    -ms-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
 }
 .hover_effect_6 .caption_link {
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.2s ease-in-out 0.3s;
    -moz-transition: all 0.2s ease-in-out 0.3s;
    -o-transition: all 0.2s ease-in-out 0.3s;
    -ms-transition: all 0.2s ease-in-out 0.3s;
    transition: all 0.2s ease-in-out 0.3s;
 }
 .hover_effect_6:hover .caption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    top: 0px;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: bounceY 0.9s linear;
    -moz-animation: bounceY 0.9s linear;
    -ms-animation: bounceY 0.9s linear;
    animation: bounceY 0.9s linear;
 }
 .hover_effect_6:hover .caption_title {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
 }
 .hover_effect_6:hover .caption_desc {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
 }
 .hover_effect_6:hover .caption_link {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
 }
 @keyframes bounceY {
     0% { transform: translateY(-205px);}
     40% { transform: translateY(-100px);}
     65% { transform: translateY(-52px);}
     82% { transform: translateY(-25px);}
     92% { transform: translateY(-12px);}
     55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
 }
 @-moz-keyframes bounceY {
     0% { -moz-transform: translateY(-205px);}
     40% { -moz-transform: translateY(-100px);}
     65% { -moz-transform: translateY(-52px);}
     82% { -moz-transform: translateY(-25px);}
     92% { -moz-transform: translateY(-12px);}
     55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
 }
 @-webkit-keyframes bounceY {
     0% { -webkit-transform: translateY(-205px);}
     40% { -webkit-transform: translateY(-100px);}
     65% { -webkit-transform: translateY(-52px);}
     82% { -webkit-transform: translateY(-25px);}
     92% { -webkit-transform: translateY(-12px);}
     55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
 }





@media(min-width: 320px) and (max-width: 480px){

    
    .hover_effect_box {
        margin-left: 20px;
        width: 352px;
        height: 400px;
        margin-bottom: 50px;
        border: 1px solid black;
        margin-top: 70px;
        display: flex;
        /* flex-direction: column; */
        border: 1px solid black;
        overflow: hidden;
        position: relative;
        text-align: center;
        /* -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6; */
        /* cursor: default; */
        background-color: #1d2123;
        /* box-sizing: initial; */
    }
    
    .navbar{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .navbar_logo{
        height: 50px;
        width:  50px; 
        padding: 8px 5px;
        
    }
    .navbar_menu{
        width: 412px;
        align-content: center;
        display: none;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
      
    }

    .navbar_menu li {
        font-size: 10px;
        padding: 8px 12px;
        border-bottom: 1px solid white;
        margin-right: 10px;
    }

    .navbar_menu li:hover{
        background-color: violet;

    }

    .navbar_call {
        margin-right: 20px;
        list-style: none;
        color: white;
        display: none;
    }


    .navbar_call li{
        padding: 8px 12px;
        display: none;
    }

    .la{
        font-size: 25px;
        color: white;
        width: 250px;
        margin-top: 400px;
        padding: 20px;
        border-bottom: 3px solid white;
        margin-bottom: 100px;
    }

        
    .head{
        height: 400px;
        background-image: url(img/123.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    
    }

    .mainMenu{
        border-top: 1px solid white;
        width: 390px;
        height: 1000px;
        /* display: flex; */
        /* flex-direction: column; */
    }

    .subMenu{
        border-top: 1px solid white;
        width: 390px;
        height: 1000px;
        /* display: flex; */
        /* flex-direction: column; */
    }

    .mainDiv{

        display: flex;
        flex-direction: column;
        

    }

    .mainMenuContext{
        border: 1px solid black;
    
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }
    .menu_img{
        
        width: 350px; 
        height: 300px; 
        
    }

    .navbar_toogleBtn{
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
        padding: 10px;
        font-size: 20px;
    }

    .navbar_menu.active{

        margin: 0;
        display: flex;

        padding: 0px;
        align-items: center;
        background-color: #b6b6b6;
    }


}