.main_menu{
    border-bottom: 3px solid #bdb4a3;
    font-size: 40px;  
    color: white;
    margin-left: 320px; 
    margin-top: 200px;
    padding: 20px;
    width: 200px;
}
header{
    height: 400px;
}
.menuBanner{
     color: white;
     position:absolute;
     top: 300px; 
     left: 700px ;
     font-size: 50px;
     border-bottom: 3px solid #bdb4a3;
     padding: 20px;


}
html{

        padding: 0;
        margin: 0;

        }
.menuBar{
        right: 220px;
        position: absolute;
        width: 1000px ; 
        margin: 0;
        }
.phoneNumber{
        color: black;
        margin: 0;

        }
.header_wrap {
        
        position: fixed;
        min-width: 1500px;
        width: 100%;
        background-color: blanchedalmond;
        background-size: 100%;
        opacity: 0.8;
        height: 120px;
    
        margin: 0;

        }

.phoneNumber {
        position: absolute;
        width: 135px;
        bottom: 10px;
        right: 40px;
        margin: 0;

        }


ul li {

        
        line-height: 1;
        border-right: 3px solid #bdb4a3;
        font-family:  Georgia, 'Times New Roman', Times, serif;
        font-weight : 800;
        color:black;
        list-style-type:none; 
        float: left;
        padding: 20px;
        margin-left: 110px;
        margin-top: 50px;
        }
body{
        position: relative;
        background-color: rgb(0, 0, 0);
        margin: 0;
        padding: 0;

        }

.overallView{
    height: 3000px;
    
}
.menu_table{
    padding: 30px;
    color:  white;
    height: 400px;

}
.menu_table th{
    padding: 30px;
}
.menu_table td{
    padding: 30px;
}

@media( max-width : 810px){
    .menuBanner{
        left: 200px;
    }
}