a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    background-color: #1d2123;
    color: white;
    font-family: 'Sunflower', sans-serif;
}

.head{
    height: 100px;

    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 200px;
}


 /* 상단부 부분 */
.navbar {
    z-index: 1;
    margin: 0;
    width: 100%;
    position : fixed;
    height: 100px;
    top: 0;
    opacity: 0.8;
    display: flex;
    /* 아이템들 수평으로 정렬 */
    justify-content: space-between; 
    /* 중간중간 일정한 공간넣기 */
    align-items:  center;
    /* 수직적으로 센터에 아이템 배치하기 */
    background-color: #b6b6b6;
    padding: 8px 12px;
    border-bottom: 1px solid gray;
    /* 위아래로 8px 양 옆으로 12px */
}

.navbar_toogleBtn{
    display: none;
}


.navbar_logo{
    width: 100px; 
    height: 100px; 
    padding: 8px 12px;
    
}

.navbar_menu{
    
    display:flex;
    list-style: none;
    padding-left: 0;
}

.navbar_menu li {

    padding: 8px 12px;
    border-bottom: 3px solid white;
    margin-right: 50px;
}

.navbar_menu li:hover{
    background-color: violet;

}

.navbar_call {
    margin-right: 20px;
    list-style: none;
    color: white;
}


.navbar_call li{
    padding: 8px 12px;
}

.context{
    text-align: center;
    width: 100%;
}

.context img{
    width: 700px;
    height: 500px;

}

.context a{
    font-size: 30px;
    border : 3px solid white;
    padding: 10px;
    border-radius: 5px;
}
.comment1{
    font-size: 20px;
}
.comment2{
    font-size: 50px;
    color: rgb(201, 129, 129);
}
ul,li{list-style:none; margin:0;}

.slide{height:930px;overflow:hidden;}
.slide ul{height:100%;}
.slide li{height:100%;}
.slide li:nth-child(1){background-image: url(img/test.jpg); background-repeat: no-repeat; background-size: 100% 930px;}
.slide li:nth-child(2){background-image: url(img/img3.png); background-repeat: no-repeat;background-size: 100% 930px; }
.slide li:nth-child(3){background-image: url(img/123.jpg); background-repeat: no-repeat; background-size: 100% 930px;}
.slide li:nth-child(4){background-image: url(img/td.jpg); background-repeat: no-repeat; background-size: 100% 930px;}
















@media(min-width: 320px) and (max-width: 480px){

    .context  img{
        width: 412px;
        height: 300px;
    }
    .navbar{
        width: 412px;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .navbar_logo{
        height: 50px;
        width:  50px; 
        padding: 8px 5px;
        
    }
    .navbar_menu{
        width: 412px;
        align-content: center;
        display: none;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
      
    }

    .navbar_menu li {
        font-size: 10px;
        padding: 8px 12px;
        border-bottom: 1px solid white;
        margin-right: 10px;
    }

    .navbar_menu li:hover{
        background-color: violet;

    }

    .navbar_call {
        margin-right: 20px;
        list-style: none;
        color: white;
        display: none;
    }


    .navbar_call li{
        padding: 8px 12px;
        display: none;
    }

    .la{
        font-size: 25px;
        color: white;
        width: 250px;
        margin-top: 400px;
        padding: 20px;
        border-bottom: 3px solid white;
        margin-bottom: 100px;
    }

        
    .head{
        height: 100px;
       
        background-repeat: no-repeat;
        background-size: 100%;
    
    }

    .mainMenu{
        border-top: 1px solid white;
        width: 390px;
        height: 1000px;
        /* display: flex; */
        /* flex-direction: column; */
    }

    .subMenu{
        border-top: 1px solid white;
        width: 390px;
        height: 1000px;
        /* display: flex; */
        /* flex-direction: column; */
    }

    .mainDiv{

        display: flex;
        flex-direction: column;
        

    }

    .mainMenuContext{
        border: 1px solid black;
    
        display: flex;
        flex-direction: column;
        align-content: center;
    
    }
    .menu_img{
        
        width: 350px; 
        height: 300px; 
        
    }

    .navbar_toogleBtn{
        display: block;
        position: absolute;
        left: 0;
        top: 15px;
        padding: 10px;
        font-size: 20px;
    }

    .navbar_menu.active{

        margin: 0;
        display: flex;

        padding: 0px;
        align-items: center;
        background-color: #b6b6b6;
    }


    .slide{height:300px;overflow:hidden;}
    .slide ul{height:100%;}
    .slide li{height:100%;}
    .slide li:nth-child(1){background-image: url(img/view.jpg); background-repeat: no-repeat; background-size: 100% 300px;}
    .slide li:nth-child(2){background-image: url(img/img3.png); background-repeat: no-repeat;background-size: 100% 300px; }
    .slide li:nth-child(3){background-image: url(img/123.jpg); background-repeat: no-repeat; background-size: 100% 300px;}
    .slide li:nth-child(4){background-image: url(img/td.jpg); background-repeat: no-repeat; background-size: 100% 300px;}

}